*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

#main{
    overflow: hidden;
}

body{
    overflow-x: hidden;
}

.mobile-back-home{
    margin-top: 16px;

}

.mobile-back-home-link{
    color: #000;
    text-decoration: none;
    padding: 16px 16px 16px 8px;
    -webkit-tap-highlight-color: transparent;
}


/* MODAL-BOOK-TICKET */
.modal-mobile {
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 5;
    margin: 20px 0;
}

.modal-mobile.open{
    display: flex;
} 

.modal-mobile-container {
    background: #fff;
    width: 100%;
    position: relative;
    border-radius: 4px;
}

.modal-mobile-header {
    color: #000;
    text-align: center;
    font-size: 40px;
    padding: 47px;
}

.modal-mobile-header .ticket-icon{
    margin-right: 0px;
    font-size: 40px;
}

.modal-mobile-header p{
    display: inline-block;
    letter-spacing: 1px;
}

.modal-mobile-close-icon {
    position: absolute;
    right: 0;
    padding: 12px;
    color: #fff;
    opacity: 0.8;
    cursor: pointer; 
}


.modal-mobile-body{
    font-size: 15px;
    padding: 0 16px;  
}

.modal-mobile-label {
    display: block;
    padding: 12px;
    font-weight: 500;
}

.modal-mobile-input{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 15px;
    padding: 11px;
    margin-bottom: 10px;
}

#modal-mobile-book-btn {
    background: #009688;
    text-transform: uppercase;
    color: #fff;
    width: 100%;
    padding: 16px;
    border: none;
    cursor: pointer;
    margin: 10px 0;
    font-weight: 600;
    font-size: 15px;
    border-radius: 10px;
}

#modal-mobile-book-btn:hover{
    opacity: 0.8;
}

.modal-mobile-footer{
    padding: 16px;
    float: right;
    font-size: 15px;
}

.modal-mobile-footer a{
    color: #2196F3;
}

@keyframes modal-mobileAppear {
    from{
        opacity: 0;
        transform: translateY(-200px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}